#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 2rem; */
  /* text-align: center; */
}
#map {
  height: 350px;
}

.ant-card {
  border: 1px solid rgb(224 224 224) !important;
  padding: 0px;
  border-radius: 5px;
}

.ant-card-body {
  padding: 15px !important;
  transition-duration: 22s !important;
  transition-property: min-height, max-height, height, display;
}

.ant-card-grid{
  width: 50% !important;
}

.ant-card-grid-header{
  width: 100% !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}
.ant-card-grid.ant-card-grid-hoverable {
  display: flex;
}

.ant-card-meta-avatar {
  align-items: center !important;
  display: flex !important;
}

.ant-layout-sider {
  overflow: auto !important;
  height: 100vh !important;
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  transition-duration: 0.5s !important;
  transition-property: min-width, max-width;
}

.ant-col {
  transition-property: max-width, flex;
  transition-duration: 0.5s;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
