main.ant-layout-content {
  box-shadow: rgb(0 0 0 / 22%) 0px 10px 24px -15px inset;
  padding-left: 45px;
  padding-right: 45px;
  padding-top: 45px;
}
#map {
  height: 705px;
}

.card-shadow {
  /* border: 1px solid rgb(224 224 224) !important; */
  padding: 0px;
  border-radius: 2px;
  box-shadow: 0px 0px 15px 0px rgba(143, 143, 143, 1);
}

.card-map .ant-card-body {
  padding: 0px !important;
  margin: -1px;
  width: 101%;
}
.ant-card.card-map {
  min-height: 750px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.info-tabs {
  min-height: 630px;
}

.card-stadistics {
  box-shadow: none !important;
}

.card-stadistics .ant-card-body {
  padding: 1px !important;
}

.card-history {
  box-shadow: none !important;
  padding: 10px;
}

.ant-card-body {
  padding: 15px !important;
  transition-duration: 1s !important;
  transition-property: min-height, max-height, height, display;
  overflow: auto !important;
}

.ant-card-grid {
  width: 50% !important;
}

.ant-card-grid-header {
  width: 100% !important;
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}
.ant-card-grid.ant-card-grid-hoverable {
  display: flex;
}

.ant-card-meta-avatar {
  align-items: center !important;
  display: flex !important;
}

.ant-layout-sider {
  overflow: auto !important;
  height: 100vh !important;
  position: fixed !important;
  right: 0px !important;
  top: 0px !important;
  bottom: 0px !important;
  transition-duration: 0.5s !important;
  transition-property: min-width, max-width;
}

.ant-col {
  transition-property: max-width, flex;
  transition-duration: 0.5s;
  filter: opacity(0.9) !important;
}

ul.ant-timeline {
  max-height: 470px;
}
